footer {
  text-align: center;
  padding: 0;
  background-color: var(--Gmail-folder-hover);
  box-shadow: inset 0px 2px 0 #d1d1d1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 6em;
  width: 100%;
}

.footer-title {
  color: var(--Gmail-body-font);
  font-size: 1.3em;
  word-spacing: 0.2em;
}

.footer-copyright {
  font-size: 1em;
}

.footer-names {
  font-size: 1.3em;
  text-align: center;
  color: var(--Gmail-subject-font);
  font-weight: bold;
  margin-bottom: 0.1em;
}